/* Layout container adjustments for consistency */
.card {
  cursor: pointer;
  margin-bottom: 0px !important; /* Adjusts gap between cards if needed */
  height: 100% !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #eaeaea;
}

.card-img-top {
  height: 200px !important; /* Adjust height */
  object-fit: cover !important;
}

.card-body {
  min-height: 200px !important; /* Minimum height for the card body */
}

.card-title {
  font-size: 1.25em;
}

.card-text {
  margin: 10px 10px 16px;
  color: #666;
}

.btn {
  margin-top: 10px;
}
