/* Card Container Styles */
.card {
  position: relative;
  cursor: pointer;
  margin-bottom: 0 !important;
  height: 100% !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #eaeaea;
  border-radius: 0.5rem;
  min-width: 800px;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
}

/* Card Body Styles */

.card-body {
  margin-bottom: 0.1em;
  // height: 150px; /* Fixed height or you can use min-height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
}

.card-title {
  font-size: 1em;
  white-space: nowrap; /* Prevents the title from wrapping */
  overflow: hidden; /* Ensures overflow text is not visible */
  text-overflow: ellipsis; /* Adds an ellipsis for overflow text */
  text-align: center; /* Centers the text horizontally */
  width: 100%; /* Ensure the title spans the full width of the card */
}

.card-text {
  color: #666;
}

/* Body Overlay Styles */
.body-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%); /* Start hidden below the card body */
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  color: white;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Adjust padding as needed */
}

.card-body:hover .body-overlay {
  transform: translateY(0); /* Slide up to show */
  opacity: 1;
}

/* Image Container Styles */
.image-container {
  position: relative;
}

.card-img-top {
  transition: all 0.3s ease-in-out;
}

/* Overlay Content Styles */
.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container:hover .overlay-content {
  visibility: visible;
  opacity: 1;
}

/* Movie Description Styles */
.movie-description {
  text-align: center;
  padding: 20px;
}

.smaller-button {
  padding: 2px 5px;
  font-size: 10px;
}

.heart-icon-overlay {
  position: absolute;
  top: 7%; /* Adjust as needed */
  right: 5%; /* Adjust as needed */
  width: 1.2em; /* Adjust size relative to font size */
  height: 1.2em; /* Adjust size relative to font size */
  opacity: 0.9;
  z-index: -1; /* Added opacity */
  fill: rgb(255, 0, 0); /* Adjust color as needed */
}
